:root {
  --breakpoint-sm: 765px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1500px;
  --light: #f9fafb;
  --dark: #111827;
  --secondary: #455c8c;
  --accent: #11d020;
  --smokewhite: #f5f5f5;
  --font-subject: "Edu SA Hand";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: var(--dark);
  color: var(--light);
}
#main-wrapper {
  padding: 0 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav img {
  max-width: 200px;
}

#background-decoration-blob {
  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  width: 45%;
  background-color: #e48d8d;
  border-bottom-left-radius: 100%;
  z-index: 2;
  animation: blob-pulse 7s infinite;
}

#main-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 3;
  font-size: 1.2rem;
}

#main-nav a {
  text-decoration: none;
  font-weight: 600;
}
.main-nav-normal-element {
  text-decoration: none;
  color: var(--light);
}
#check-now-cta {
  padding: .5rem 1.5rem;
  background: var(--accent);
  border-radius: 10px;
  color: var(--dark);
  transition: 0.3s ease-out;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

#check-now-cta:hover {
  filter: brightness(105%);
  color: var(--light);
}

#hero {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero-text {
  max-width: 40%;
}
#hero-text p {
  font-size: 2.5rem;
  font-weight: 600;
  font-size: 3rem;
}

#hero-text span {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

#hero img {
  max-width: 60%;
  z-index: 5;
}

#hero-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--accent);
  border-radius: 1rem;
  font-weight: 600;
  transition: .3s;
  cursor: pointer;
}

#hero-btn:hover {
  background: #098913;
}

.section-heading {
  text-align: center;
  position: relative;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 4rem;
}

.section-heading:before {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--light);
  bottom: 0;
  content: "";
}

#how-to-use {
  margin: 3rem 0;
}

#how-to-use-wrapper {
  text-align: center
}

#how-to-use-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#how-to-use-info img {
  max-width: 60rem;
}

#how-to-use-info div h3 {
  font-size: 3rem;
}

#how-to-use-info div ul {
  margin-top: .5rem;
  font-size: 1.2rem;
}

#review-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.review-card {
  padding: 1rem;
  background-color: #455c8c;
  border-radius: 1rem;
}
.review-card h4 {
  font-size: 1.3rem;
}

.review-card p {
  margin-top: 1rem;
}

.review-card-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  padding: 2rem 5%;
  color: var(--dark);
}
@keyframes blob-pulse {
  0%,
  100% {
    border-bottom-left-radius: 100%;
  }
  50% {
    border-bottom-left-radius: 90%;
  }
}
