:root {
  --breakpoint-sm: 765px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1500px;
  --light: #f9fafb;
  --dark: #111827;
  --secondary: #455c8c;
  --accent: #11d020;
  --smokewhite: #f5f5f5;
  --font-subject: "Edu SA Hand";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: var(--dark);
  color: var(--light);
}
#main-wrapper {
  padding: 0 5%;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

nav img {
  max-width: 200px;
}

#background-decoration-blob {
  position: fixed;
  top: 0;
  right: -50px;
  height: 10rem;
  width: 55%;
  background-color: #e48d8d;
  border-bottom-left-radius: 100%;
  z-index: -1;
  animation: blob-pulse 7s infinite;
  transition: .5s;
}

#main-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 3;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: var(--dark);
}

.fa-bars {
  display: none;
}
#main-nav a {
  text-decoration: none;
  font-weight: 600;
}
.main-nav-normal-element {
  text-decoration: none;
  color: var(--light);
}
#check-now-cta {
  padding: 1rem 1.5rem;
  background: var(--accent);
  border-radius: 1rem;
  color: var(--dark);
  transition: 0.3s ease-out;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

#check-now-cta:hover {
  background: #0ba718;
}

#hero {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#hero-background-decoration-blob {
  position: absolute;
  bottom: -100px;
  left: -200px;
  height: 40%;
  width: 10%;
  background-color: #e48d8d;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  z-index: 2;
  animation: blob-pulse2 9s infinite;
}
#hero-text {
  max-width: 40%;
}
#hero-text p {
  font-size: 2.5rem;
  font-weight: 600;
  font-size: 3rem;
}

#hero-text span {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

#hero img {
  max-width: 55%;
  z-index: 5;
}

#hero-video {
  max-width: 60%;
}

#hero-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--accent);
  border-radius: 1rem;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: var(--dark);
}

#hero-btn:hover {
  background: #098913;
}

.section-heading {
  text-align: center;
  position: relative;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 4rem;
}

.section-heading:before {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--light);
  bottom: 0;
  content: "";
}

#how-to-use {
  margin: 3rem 0;
}

#how-to-use-wrapper {
  text-align: center;
}

#how-to-use-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#how-to-use-info img {
  max-width: 60rem;
}

#how-to-use-info div img {
  margin: 2rem 0;
  max-width: 100%;
}

#review-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}
.review-card {
  padding: 1rem;
  background-color: black;
  color: var(--smokewhite);
  border-radius: 1rem;
}
.review-card h4 {
  font-size: 1.3rem;
}

.review-card p {
  margin-top: 1rem;
}

.review-card-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  padding: 2rem 5%;
  color: var(--dark);
}

.close-nav {
  display: none;
}
@keyframes blob-pulse {
  0%,
  100% {
    border-bottom-left-radius: 100%;
  }
  50% {
    border-bottom-left-radius: 90%;
  }
}

@keyframes blob-pulse2 {
  0%,
  100% {
    width: 10%;
  }
  50% {
    width: 15%;
  }
}

@media screen and (max-width: 600px) {
  #review-card-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  #review-card-wrapper {
    display: flex;
    flex-direction: column;
  }
  #main-wrapper {
    padding: 0 2%;
  }
}
@media screen and (max-width: 1200px) {
  #main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    background: var(--dark);
    width: 30%;
    height: 100vh;
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.5);
    z-index: 12;
  }
  .fa-bars {
    display: block;
    cursor: pointer;
    z-index: 11;
    font-size: 1.5rem;
  }

  #main-nav.active {
    right: 0;
  }

  .close-nav {
    display: block;
    font-size: 2rem;
    color: var(--light);
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1500px) {
  #background-decoration-blob {
    width: 25%;
    height: 180px;
  }
  #hero,
  #how-to-use-info {
    flex-direction: column;
  }
  #hero img {
    margin-top: 2rem;
    max-width: 80%;
  }

  #hero-text {
    max-width: 100%;
    text-align: center;
  }
  #how-to-use-info {
    text-align: center;
  }
  #how-to-use-info video {
    max-width: 95%;
  }

  #review-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
